<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Schematic</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://d3js.org/d3.v7.min.js"></script>
</head>
<body>
    <h1>Smart Home Energy Monitoring Schematic</h1>
    <!-- Navigation Menu -->
    <div class="nav-menu">
        <a href="/">Simulation</a>
        <a href="/schematic">Schematic</a>
        <a href="/history">Historical Simulation</a>
    </div>
    <div id="schematic"></div>
    <div id="trend"></div>
    <script>
        var households = {{ data|tojson }};
        const entityColors = {
            'voltage': 'red',
            'current': 'blue',
            'power': 'green',
            'energy': 'purple',
            'tde': 'orange',
            'Solar PV': 'yellow'
        };
        const entityUnits = {
            'voltage': 'V',
            'current': 'A',
            'power': 'W',
            'energy': 'kWh',
            'tde': 'kWh',
            'Solar PV': 'W'
        };
        const entityLabels = {
            'voltage': 'Voltage',
            'current': 'Current',
            'power': 'Power',
            'energy': 'Energy',
            'tde': 'Total Daily Energy',
            'Solar PV': 'Solar PV'
        };

        const nodes = [];
        const links = [];

        function update_entity_data(data) {
            nodes.length = 0;
            links.length = 0;


            Object.keys(data).forEach((household, i) => {
                nodes.push({ id: household, group: 1, value: household });

                Object.keys(data[household]).forEach((entity, j) => {
                    const entityId = household + '_' + entity;
                    const mostRecentValue = data[household][entity][data[household][entity].length - 1][1].toFixed(2);
                    nodes.push({ id: entityId, group: 2, value: mostRecentValue });
                    links.push({ source: household, target: entityId });
                });
            });
        }

        update_entity_data({{ data | tojson }});

        const width = 750;
        const height = 750;

        const color = d3.scaleOrdinal(d3.schemeCategory10);

        const simulation = d3.forceSimulation(nodes)
            .force("link", d3.forceLink(links).id(d => d.id).distance(80)) // Link line length
            .force("charge", d3.forceManyBody().strength(-500))
            .force("center", d3.forceCenter(width / 2, height / 2))
            .force("x", d3.forceX().strength(0.2))
            .force("y", d3.forceY().strength(0.2));

        const svg = d3.select("#schematic")
            .append("svg")
            .attr("width", width)
            .attr("height", height)
            .attr("viewBox", `0 0 ${width} ${height}`)
            .attr("preserveAspectRatio", "xMidYMid meet");

        const g = svg.append("g");

        let link = g.append("g")
            .attr("stroke", "#999")
            .attr("stroke-opacity", 0.6)
            .selectAll("line")
            .data(links)
            .join("line");

        let node = g.append("g")
            .attr("stroke", "#fff")
            .attr("stroke-width", 1.5)
            .selectAll("circle")
            .data(nodes)
            .join("circle")
            .attr("r", d => d.group === 1 ? 40 : 20) // Node Size
            .attr("fill", d => d.group === 1 ? color(d.group) : entityColors[d.id.split('_')[1]])
            .call(d3.drag()
                .on("start", dragstarted)
                .on("drag", dragged)
                .on("end", dragended));

        let labels = g.append("g")
            .selectAll("text")
            .data(nodes)
            .join("text")
            .attr("text-anchor", "middle")
            .attr("dy", ".35em")
            .attr("font-weight", "bold")
            .style("font-size", d => d.group === 1 ? "10px" : "12px") // Make households' label smaller
            .text(d => {
                const entityKey = d.id.split("_")[1];
                return d.value + " " + entityUnits[entityKey];
            })
            .style("pointer-events", "none");

        const legend = g.append("g")
            .attr("transform", "translate(" + (width - 150) + "," + 20 + ")");

        legend.selectAll("rect")
            .data(Object.keys(entityColors))
            .join("rect")
            .attr("x", 0)
            .attr("y", (d, i) => i * 20)
            .attr("width", 15)
            .attr("height", 15)
            .attr("fill", d => entityColors[d]);

        legend.selectAll("text")
            .data(Object.keys(entityColors))
            .join("text")
            .attr("x", 20)
            .attr("y", (d, i) => i * 20 + 12)
            .text(d => entityLabels[d]);


        function zoomed({ transform }) {
            g.attr("transform", transform);
        }

        const zoom = d3.zoom()
            .scaleExtent([0.5, 4])
            .on("zoom", zoomed);

        svg.call(zoom);

        simulation.on("tick", () => {
            link
                .attr("x1", d => d.source.x)
                .attr("y1", d => d.source.y)
                .attr("x2", d => d.target.x)
                .attr("y2", d => d.target.y);

            node
                .attr("cx", d => d.x)
                .attr("cy", d => d.y);

            labels
                .attr("x", d => d.x)
                .attr("y", d => d.y)
                .text(d => {
                    if (d.group === 1) {
                        return d.value;
                    } else {
                        const entityKey = d.id.split("_")[1];
                        return d.value + " " + entityUnits[entityKey];
                    }
                });
        });


        function dragstarted(event, d) {
            if (!event.active) simulation.alphaTarget(0.3).restart();
            d.fx = d.x;
            d.fy = d.y;
        }

        function dragged(event, d) {
            d.fx = event.x;
            d.fy = event.y;
        }

        function dragended(event, d) {
        if (!event.active) simulation.alphaTarget(0);
        d.fx = null;
        d.fy = null;
        }

        function entity_data(data) {
            households.forEach((household, i) => {
                nodes.push({ id: household, group: 1, value: household });

                Object.keys(data[household]).forEach((entity, j) => {
                    const entityId = household + '_' + entity;
                    const mostRecentValue = data[household][entity][data[household][entity].length - 1][1].toFixed(2);
                    nodes.push({ id: entityId, group: 2, value: mostRecentValue });
                    links.push({ source: household, target: entityId });
                });
            });
        }

        function update_data() {
            console.log('Schematic File - Fetching data...');
            fetch('/fetch_data')
                .then(response => {
                    console.log('Received response:', response);
                    return response.json();
                })
                .then(data => {
                    console.log('Schematic File - Fetched data:', data);

                    // Process new data and update nodes and links
                    update_entity_data(data);

                    // Update the data for the link and node elements
                    link = link.data(links, d => d.source.id + "_" + d.target.id);
                    node = node.data(nodes, d => d.id);

                    // Rejoin links
                    link = link.join(
                        enter => enter.append("line"),
                        update => update,
                        exit => exit.remove()
                    );

                    // Rejoin nodes
                    node = node.join(
                        enter => enter.append("circle")
                            .attr("r", d => d.group === 1 ? 40 : 20)
                            .attr("fill", d => d.group === 1 ? color(d.group) : entityColors[d.id.split('_')[1]])
                            .call(d3.drag()
                                .on("start", dragstarted)
                                .on("drag", dragged)
                                .on("end", dragended)),
                        update => update,
                        exit => exit.remove()
                    );

                    // Update the labels' data and text
                    labels = labels.data(nodes, d => d.id)
                        .text(d => {
                            const entityKey = d.id.split("_")[1];
                            return d.value + " " + entityUnits[entityKey];
                        });

                    // Restart the simulation with the new data
                    simulation.nodes(nodes);
                    simulation.force("link").links(links);
                    simulation.alpha(0.3).restart();
                })
                .catch(error => {
                    console.error('Schematic File - Error fetching data:', error);
                });
        }

        setInterval(update_data, 10000);

    </script>
</body>
</html>